<div class="grid">
    <div class="col-12 lg:col-1 xl:col-1 md:col-1"></div>
    <div class="col-12 lg:col-10 xl:col-10">
        <div class="memberDetailCard">
            <div class="grid justify-content-end">
                <div class="mb-2 col-12 lg:col-10 xl:col-10">
                    <b>Electronic Equipment</b>
                </div>
            </div>
            <div class="col-12 sm:col-5 md:col-5 lg:col-5 xl:col-5">
                <div class="input-control-container">
                    <label class="input-form-label">Industry&nbsp;<span class="text-danger">*</span></label>
                    <p-dropdown class="w-full flex css" styleClass="w-full"
                        placeholder="Select Industry" [filter]="true"
                        filterBy="CodeDesc" [(ngModel)]="productItem.IndustryId"
                        (onChange)="IndustryChanged()"
                        [options]="industryTypeList" appendTo="body"
                        optionLabel="CodeDesc" optionValue="Code" />
                </div>
                <div class="error-text text-danger" *ngIf="IndustryError">Please Select Industry</div><br>
            </div>
            <div class="grid">
                <div class="col-12 lg:col-1 xl:col-1 md:col-1"></div>
                <div class="col-12 lg:col-10 xl:col-10">
                    <div class="memberDetailCard">
                        <div class="grid justify-content-start">
                            <div class="mb-2 col-12 lg:col-10 xl:col-10">
                                <b>Electronic Equipment</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-right" >
                                <p-button label="Add New"
                                    styleClass="mr-3 p-button-outlined"
                                    (click)="addEETanzaniya()"></p-button>
                            </div>
                            <div>
                                <form [formGroup]="EETanzaniyaForm">
                                    <div formArrayName="EETanzaniya">
                                        <div *ngFor="let user of EETanzaniyaArray.controls; let i = index"
                                            [formGroupName]="i">
                                            <div class="grid ">
                                                <div class="col-10 lg:col-3 xl:col-3">
                                                    <label for="Address">Equipment
                                                        Type</label>
                                                    <p-dropdown class="w-full flex css"
                                                        styleClass="w-full"
                                                        placeholder="Select Content Type"
                                                        [options]="dropList"
                                                        appendTo="body"
                                                        optionLabel="CodeDesc"
                                                        optionValue="Code"
                                                        [filter]="true"
                                                        filterBy="CodeDesc"
                                                        formControlName="ContentId" />
                                                </div>
                                                <div class="col-10 lg:col-2 xl:col-2">
                                                    <label for="Address">Serial
                                                        No</label>
                                                    <input
                                                        class="w-full p-button-outlined"
                                                        formControlName="SerialNo"
                                                        placeholder="Enter Serial No"
                                                        styleClass="w-full" pInputText
                                                        type="number" />
                                                </div>
                                                <div class="col-10 lg:col-3 xl:col-3">
                                                    <label
                                                        for="Address">Description</label>
                                                    <input
                                                        class="w-full p-button-outlined"
                                                        formControlName="DescriptionOfRisk"
                                                        placeholder="Enter Description"
                                                        styleClass="w-full" pInputText
                                                        type="input" />
                                                </div>
                                                <div class="col-10 lg:col-3 xl:col-3">
                                                    <label for="Address">Sum
                                                        Insured</label>
                                                    <input
                                                        class="w-full p-button-outlined"
                                                        formControlName="SumInsured"
                                                        placeholder="Enter Sum Insured"
                                                        styleClass="w-full" pInputText
                                                        type="commaSeparator"
                                                        (keydown)="onKeyDown($event,user)"
                                                        (keyup)="CommaFormattedDynamic($event,'AdditionalClaimsPreparationCosts')" />
                                                </div>
                                                <div class="col-2 lg:col-1 xl:col-1">
                                                    <br>
                                                    <button pButton type="button"
                                                        icon="pi pi-trash"
                                                        class="mt-2"
                                                        (click)="removeEmployersLiability(i)"
                                                        styleClass="p-button-outlined">
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- <button mat-icon-button color="warn" (click)="removeUser(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button> -->
                                        </div>
                                    </div>
                                    <!-- <button mat-raised-button color="primary" (click)="addUser()">Add User</button> -->
                                    <!-- <button mat-raised-button color="accent" (click)="saveForm()">Save</button> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center" *ngIf="productId=='25'">
    <p-button styleClass="p-button-outlined" label="Back" size="small" [routerLink]="['/quotation/plan/quote-details']"
        routerLinkActive="router-link-active"></p-button>&nbsp;
       <p-button label="Previous" *ngIf="locationList.length>1 && (tabIndex!=0)"
        (click)="previous()" size="small" class="mr-4 text-l mr-0" styleClass="p-button-outlined"
        icon="pi pi-chevron-left"></p-button>
        <p-button label="Next" size="small" *ngIf="locationList.length>1 && (tabIndex+1)!=locationList.length"
            (click)="onProceedData('Next')"></p-button>&nbsp;
    <p-button label="Proceed" size="small" (click)="onProceedData('Submit')"></p-button>
</div>