<div class="grid">
    <div class="col-12 lg:col-1 xl:col-1 md:col-1"></div>
    <div class="col-12 lg:col-10 xl:col-10">
        <div class="memberDetailCard">
            <div class="col-12 sm:col-5 md:col-5 lg:col-5 xl:col-5">
                    <div class="input-control-container">
                        <label class="input-form-label">Industry&nbsp;<span class="text-danger">*</span></label>
                        <p-dropdown class="w-full flex css" styleClass="w-full" placeholder="Select Industry"
                            [filter]="true" filterBy="CodeDesc" [(ngModel)]="productItem.IndustryId"
                            (onChange)="IndustryChanged()" [options]="industryTypeList" appendTo="body"
                            optionLabel="CodeDesc" optionValue="Code" />
                    </div>
                    <div class="error-text text-danger" *ngIf="IndustryError">Please Select Industry</div><br>
            </div>
            <div class="grid">
                <div class="col-12 lg:col-10 xl:col-10 mx-auto">
                    <div class="memberDetailCard">
                        <div class="grid justify-content-start">
                            <div class="mb-2 col-12 lg:col-10 xl:col-10">
                                <b>Plant All Risk</b>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div style="width: 100%;">
                                            <div>
                                                <div>
                                                    <div class="text-right">
                                                        <p-button label="Add New"
                                                            styleClass="mr-3 p-button-outlined"
                                                            (click)="addPlantAllRisk()"></p-button>
                                                    </div>
                                                    <div class="col-12">
                                                        <div>
                                                            <form [formGroup]="plantAllRiskForm">
                                                                <div formArrayName="plantallrisk">
                                                                    <div *ngFor="let user of PlantAllRiskArray.controls; let i = index"
                                                                        [formGroupName]="i">
                                                                        <div class="grid ">
                                                                            <div
                                                                                class="col-12 lg:col-5 md:col-5">
                                                                                    <label
                                                                                    for="Address">Description</label>
                                                                                        <input
                                                                                                    class="w-full p-button-outlined"
                                                                                                    formControlName="Description"
                                                                                                    placeholder="Enter Description"
                                                                                                    styleClass="w-full"
                                                                                                    pInputText
                                                                                                    type="text" />
                                                                            </div>
                                                                            <div
                                                                                class="col-12 lg:col-3 md:col-3">
                                                                                <label
                                                                                    for="SumInsured">Sum
                                                                                    Insured</label>
                                                                                <input
                                                                                    class="w-full p-button-outlined"
                                                                                    (keydown)="onSIValueChange($event)"
                                                                                    (keyup)="CommaFormattedDynamic($event,'PG')"
                                                                                    placeholder="Enter SumInsured"
                                                                                    styleClass="w-full"
                                                                                    formControlName="SumInsured"
                                                                                    pInputText
                                                                                    type="text" />
                                                                            </div>
                                                                            <div class="col-2 lg:col-2 xl:col-2"
                                                                                *ngIf="i != 0">
                                                                                <br>
                                                                                <button pButton
                                                                                    type="button"
                                                                                    icon="pi pi-trash"
                                                                                    (click)="removePlantAllRisk(i)"
                                                                                    styleClass="p-button-outlined">
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <p-button styleClass="p-button-outlined" label="Back" size="small"
        [routerLink]="['/quotation/plan/quote-details']" routerLinkActive="router-link-active"></p-button>&nbsp;
    <p-button label="Previous" *ngIf="locationList.length>1 && (tabIndex!=0)"
        (click)="previous()" size="small" class="mr-4 text-l mr-0" styleClass="p-button-outlined"
        icon="pi pi-chevron-left"></p-button>
    <p-button label="Next" size="small" *ngIf="locationList.length>1 && (tabIndex+1)!=locationList.length"
        (click)="onProceedData('Next')"></p-button>&nbsp;
    <p-button label="Proceed" size="small" (click)="onProceedData('Submit')"></p-button>
</div>
