::ng-deep .p-menu-overlay {
    position: fixed !important;
}
:host ::ng-deep .mat-mdc-form-field {
    display: inline !important;
}
:host ::ng-deep .mdc-icon-button {
    padding: 0px !important;
}
:host ::ng-deep .mat-mdc-form-field-infix {
    min-height: 0px !important;
}
:host
    ::ng-deep
    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
        .mdc-text-field--textarea
    )
    .mat-mdc-form-field-infix {
    padding: 0px !important;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.customHeight{
    height:40px;
}
.spacing-left {
    margin-left: 5px;
}


.card {
    height: 90vh;
}