<div>
    <div style="display: flex; align-items: center; gap: 8px;">
        <img src="./assets/images/personalliability.png"
            width="40" height="35">
        <div><b>Owner's Liability</b></div>
    </div>
    <div class="">
        <ng-container *ngFor="let stes of fields3; let index = index; let last = last">
            <div>
                <div>
                    <div>
                        <form [formGroup]="form">
                            <formly-form [form]="form"
                                [fields]="stes.fieldGroup"
                                [model]="productItem"></formly-form>
                        </form>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="text-center mt-2">
        <p-button styleClass="p-button-outlined" label="Back" size="small"
                    [routerLink]="['/quotation/plan/quote-details']" routerLinkActive="router-link-active"></p-button>&nbsp;
        <p-button class="mr-2" label="Previous" size="small" (click)="previous()"></p-button>
        <p-button class="mr-2" label="Skip" size="small" (click)="skip()"></p-button>&nbsp;
        <p-button class="mr-2" label="Save & Proceed" size="small" (click)="listProceed('Save')"></p-button>&nbsp;
        <p-button label="Proceed" size="small" *ngIf="locationList.length>1 && (tabIndex+1)!=locationList.length"
                    (click)="onProceedData('Next')"></p-button>&nbsp;
            <p-button label="View Premium" *ngIf="((tabIndex+1)==locationList.length)" (click)="listProceed('Submit')" size="small"></p-button>
    </div>
</div>